{% extends "../include/base_c.html" %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="post-form" action="{% url 'CRM:login' %}">
                            {% csrf_token %}
                            {% include "../account/form_errors.html" %}
                            <div class="form-group" style="margin-bottom: 12px;">
                                <label for="username">사용자ID</label>
                                <input type="text" class="form-control" name="username" id="username"
                                    value="{{ form.username.value|default_if_none:'' }}">
                            </div>
                            <div class="form-group" style="margin-bottom: 12px;">
                                <label for="password">비밀번호</label>
                                <input type="password" class="form-control" name="password" id="password"
                                    value="{{ form.password.value|default_if_none:'' }}">
                            </div>
                            <button type="submit" class="btn btn-primary">로그인</button>
                            <button type="submit" class="btn btn-primary">계정 만들기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}