{% extends './include/base_c.html' %}
{% load static %}
{% block content %}

<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3">계정설정</h1>

		<div class="row">
			<div class="col-md-3 col-xl-2">

				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Profile Settings</h5>
					</div>

					<div class="list-group list-group-flush" role="tablist">
						<a class="list-group-item list-group-item-action active" data-toggle="list" href="#account"
							role="tab">
							Account
						</a>
						<a class="list-group-item list-group-item-action" data-toggle="list" href="#password"
							role="tab">
							Password
						</a>
						<a class="list-group-item list-group-item-action" data-toggle="list" href="#Delete_account"
							role="tab">
							Delete account
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-9 col-xl-10">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="account" role="tabpanel">

						<div class="card">
							<div class="card-header">

								<h5 class="card-title mb-0">세부정보</h5>
							</div>
							<div class="card-body">
								<form>
									<div class="row">
										<div class="col-md-8">
											<div class="row">

												<div class="mb-3 col-md-6">
													<label class="form-label" for="inputName">성명
													</label>
													<input type="text" class="form-control" id="inputName"
														placeholder="성명">
												</div>
												<div class="mb-3 col-md-6">
													<label class="form-label" for="inputBirth">생년월일</label>
													<input type="number" class="form-control" id="inputBirth"
														placeholder="생년월일">
												</div>
											</div>
											<div class="row">
												<div class="mb-3 col-md-6">
													<label class="form-label" for="inputEmail">이메일</label>
													<input type="email" class="form-control" id="inputEmail"
														placeholder="Email">
												</div>
												<div class="mb-3 col-md-6">
													<label class="form-label" for="inputPhonenumber">번호</label>
													<input type="number" class="form-control" id="inputPhonenumber"
														placeholder="번호">
												</div>
											</div>
											<div class="mb-3">
												<label class="form-label" for="inputAddress">주소</label>
												<input type="text" class="form-control" id="inputAddress"
													placeholder="서울시">
											</div>
											<div class="row">
												<div class="mb-3 col-md-4">
													<label class="form-label" for="inputUniv">학교</label>
													<input type="text" class="form-control" id="inputUniv">
												</div>
												<div class="mb-3 col-md-4">
													<label class="form-label" for="inputMajor">전공</label>
													<input type="text" class="form-control" id="inputMajor">
												</div>
												<div class="mb-3 col-md-4">
													<label class="form-label" for="inputLanguage">사용 가능 언어</label>
													<input type="text" class="form-control" id="inputLanguage">
												</div>

											</div>
										</div>


										<div class="col-md-4">
											<div class="text-center">
												<img alt="Charles Hall" src="{% static 'img/avatars/avatar.jpg' %}"
													class="rounded mr-2 mb-2" width="128" height="128" />
												<div class="mt-2">
													<span class="btn btn-primary"><i class="fas fa-upload"></i>사진
														저장</span>
												</div>
												<small>For best results, use an image at least 128px by
													128px in .jpg format</small>
											</div>
										</div>
									</div>

									<button type="submit" class="btn btn-primary" href = "#">변경 및 저장</button>
								</form>

							</div>
						</div>



					</div>
					<div class="tab-pane fade" id="password" role="tabpanel">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">비밀번호</h5>

								<form>
									<div class="mb-3">
										<label class="form-label" for="inputPasswordCurrent">현재
											비밀번호</label>
										<input type="password" class="form-control" id="inputPasswordCurrent">
										<small><a href="#">비밀번호를 잊으셨나요?</a></small>
									</div>
									<div class="mb-3">
										<label class="form-label" for="inputPasswordNew">새
											비밀번호</label>
										<input type="password" class="form-control" id="inputPasswordNew">
									</div>
									<div class="mb-3">
										<label class="form-label" for="inputPasswordNew2">새
											비밀번호 확인</label>
										<input type="password" class="form-control" id="inputPasswordNew2">
									</div>
									<button type="submit" class="btn btn-primary" href = "#">변경 및 저장</button>
								</form>

							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="Delete_account" role="tabpanel">

						<div class="col-12 col-lg-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">계정 삭제</h5>
									<h6 class="card-subtitle text-muted">계정을 정말 삭제하시겠습니까?</h6>
								</div>
								<div class="card-body text-center">
									<div class="mb-3">

										<button class="btn btn-danger" ><i class="fas fa-times"></i> 계정삭제</button>

									</div>


								</div>
							</div>
						</div>


					</div>

				</div>
			</div>
		</div>

	</div>
</main>

{% endblock %}