{% extends './include/base_c.html' %}
{% load static %}
{% block content %}

<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3">수강생 현황</h1>

		<div class="row">

			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">인공지능</h5>
						<h6 class="card-subtitle text-muted">검색기능 <code>.table-striped</code> to add zebra-striping to
							any table row within the <code>&lt;tbody&gt;</code>.</h6>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th style="width:4%;">Email</th>
								<th style="width:10%">이름</th>
								<th style="width:15%">날짜</th>
								<th style="width:13%">입실시간</th>
								<th style="width:13%">퇴실시간</th>
								<th style="width:10%">출결상태</th>
								<th style="width:12.5%">총 외출시간</th>
								<th style="width:12.5%">총 수강시간</th>
								<th style="width:10%">사유서</th>
							</tr>
						</thead>
						<tbody>
							{% for status in lst_status %}
							<tr>
								<td> {{status.member_fk.email}} </td> <!-- ID -->
								<td> {{ status.member_fk.name }}

									<!-- 
									<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"> 
										{{ status.member_fk.name }} 
									</a>
									
									<div class ="dropdown-menu dropdown-menu-right show">
										<a class="dropdown-item" href='/settings.html'>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill='none' stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user align-middle mr-1">
												<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
												<circle cx="12" cy="7" r="4"></circle>
											</svg>
											Profile
										</a>
									</div>
									-->

									<!-- 이름 -->
									<!-- <div class="drowdown-toggle show" href="#" data-toggle="dropdown" aria-expanded="true">
											
											<a class="dropdown-menu show" aria-labelledby="messagesDropdown">
												<div class="list-group">
													<li class="list-group-item"> 전자과 </li>
												</div>
											</a>
	
										</div> -->
								</td>
								<td> {{status.date}} </td> <!-- 날짜 -->
								<td> {{status.inout_time}} </td> <!-- 출석시간 -->
								<td> {{status.output_time}} </td> <!-- 퇴실시간 -->
								{% if status.absent == '결석' %}
								<!-- 출결상태 -->
								<td> <span class="badge bg-danger"> 결석 </span> </td>

								{% elif status.absent == '미퇴실' %}
								<!-- 출결상태 -->
								<td> <span class="align-middle"> 미퇴실 </span> </td>
								{% elif status.absent == '지각' %}
								<td> <span class="badge bg-warning"> 지각 </span> </td>
								{% elif status.absent == '조퇴/외출' %}
								<td> 조퇴/외출 </td>
								{% else %}
								<td> <span class="badge bg-success"> 출석 </span> </td>
								{% endif %}
								<td> </td> <!-- 총 외출시간 -->
								<td> {{status.total_time}} </td> <!-- 총 시간 -->
								<td> <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-file align-middle mr-2">
											<path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
											<polyline points="13 2 13 9 20 9"></polyline>
										</svg></a></td>
								<!-- <td> <a href="#"> <i class="align-middle" data-feather="edit-2"></i></a> </td> 사유서 -->
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
</main>

{% endblock %}