{% extends './include/leafletmap.html' %}
{% load static %}
{% block content %}

	<main class="content">
		<div class="container-fluid p-0">
			<h1 class="h3 mb-3">반별 좌석배치도</h1>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div id="map" style="height:680px;"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

	<script>
		// 기본설정
		var map = L.map('map', {crs: L.CRS.Simple, zoomControl: false, maxZoom: 0, dragging: false});
		var imgurl = '/static/img/photos/seatingChart.jpg' // 이미지 경로
		var bounds = [[0,0], [680,1500]]; // 이미지의 해상도를 bounds로 설정한다. [y,x]
		L.imageOverlay( imgurl, bounds).addTo(map); // 배경 이미지를 설정한다.

		column = [138,317,496,675,854,1033,1212,1391];
		row = [253,375,498,620];
		for(var i=0; i<column.length; i++) {
			for(var j=0; j<row.length; j++) {
				seat_on(column[i],row[j]);				
			}
			console.log('\n');
		}



		// 추가할거
		// 호버링시 popup 위치
		// 결석,지각 등 색깔 바뀌게
		// 함수로 좌석번호로 좌표찾게
		// 함수로 좌석번호로 자동으로 정보 들어가게


		// 를 쓸때 사용할 친구

		function seat_on(x,y) {
			L.circle([y, x], {color: 'green',radius: 20, fillOpacity: 0.3}).addTo(map)
			.bindTooltip("한정탁", {permanent: true, direction: 'center'}).openTooltip()
			.bindPopup("<center>한정탁</center><br />\
			<img src='{% static 'img/avatars/avatar-2.jpg' %}'><br />\
			<br /><center>반 : AI 개발자 과정</center><br />\
			<center>전공 : 기계로봇에너지공학과</center><br />\
			<center>체온 : 39.8 도</center>")
			.on("mouseover", function(evt) { this.openPopup(); }).on("mouseout", function(evt) { this.closePopup(); });
		}

		// 얘는 냅둘것
		map.fitBounds(bounds); // 표현 영역을 설정한다
	</script>
	
	<script>
		// 우측 상위 반 선택 기능 추가하기
		var baseMaps = {
		"21F": L.imageOverlay('21F Image Link', bounds),
		"22F": L.imageOverlay('22F Image Link', bounds),
		"23F": L.imageOverlay('22F Image Link', bounds)
		}
		L.control.layers(baseMaps).addTo(map);
		map.on("baselayerchange", (event) => {
			console.log(event.name); // 변경 후의 층수를 출력한다.
			// 층별 처리를 구현한다.
		});
		map.addLayer(baseMaps["15F"]);
		map.fitBounds(bounds);
	</script>
{% endblock %}